<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cursovoy_var17.Properties.Settings.ParkConnectionString"
            connectionString="Data Source=LAPTOP-GOG9SDSJ\SQLEXPRESS;Initial Catalog=Park;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>